/* shop */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'orbitron', sans-serif;
    background-color:rgb(17, 44, 13);
}
.item_img{
	width:250px;
	height:250px;
}

/* Utility stylings */

.sm-title{
	font-weight: 300;
    font-size: 1rem;
    text-transform: uppercase;
    font-family: 'orbitron', sans-serif;
    padding: 0.rem 0;
    text-transform: capitalize;
}
.title{
    margin-top: 7%;
    font-size:40px;
    font-weight: 200;
    text-align: center;
	color: white;
    padding: 1.3rem 0;
    opacity: 0.9;
}

/* product section */

.product_clz{
    padding: 3.2rem 0;
}
.product_clz .text-light{
    text-align: center;
    width: 80%;
    margin: 0.9rem auto;
}
.product{
    margin: 3rem;
    position: relative;
    background-color: rgb(63, 122, 50);
    border: solid #093824;
    border-radius: 20px;
}
.product-content{
    background:whitesmoke;
    padding: 3rem 0.5rem 1.5rem 0.5rem;
    margin-bottom: 4%;
}
.product-img{
    width: 300px;
    height: 250px;
    margin: 0 auto;
}
.btn_1{
    background: transparent;
    border: 1px solid black;
    padding: 20px 0px 20px 20px;
    width: 100%;
    font-size: medium;
    font-family: inherit;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    transition: all 0.6s ease;
    background: beige;
    color: black;
}
.btn_1:hover{
    background:palevioletred;
	color: black;
}
.product-info, p, .product_name{
    background: rgb(63, 122, 50);
    padding: 2px 3px 5px 18px;
}
.product-info-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.product-name, h4{
    display: block;
    text-decoration: none;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
}
.product_price{
    text-align: center;
    padding-top: 0.6rem;
    padding-right: 0.6rem;
    display: inline-block;
}

/* Media Queries */

@media screen and (min-width: 992px){
    .product-items{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (min-width: 1200px){
    .product-items{
        grid-template-columns: repeat(3, 1fr);
    }
    .product{
        margin-right: 1rem;
        margin-left: 1rem;
    }
}

@media screen and (min-width: 1336px){
    .product-items{
        grid-template-columns: repeat(4, 1fr);
    }
}
/* buy product css part end*/

/* Cart items */

.small_container {
  max-width: 100%;
  margin: auto;
  padding-left: 85px;
  padding-right: 15px;
}
.cart_product_name{
    color: black;
    font-size: 19px;
}
.cart_item_price{
    color: grey;
    font-size: 15px;
    font-weight: 900;
}
.cart_item_quantity{
    color: white;
	background-color: #0d7047;  
}
table {
  width: 100%;
  border-collapse: collapse;
}
th {
  text-align: left;
  padding:15px 15px 15px 15px;
  color: white;
  background-color: #093824;
  font-weight: normal;
  font-size: 25px;
  
}
td {
  padding:  10px 25px 25px 25px;
  width: 60%;
}
td + td {
  width: auto;
}
td input {
  width: 40px;
  height: 30px;
  padding: 5px;
}
td a {
  font-size: 12px;
}
td img {
  width: 100px;
  height: 100px;
  margin-right: 50px;
}
.total_cost {
  justify-content: flex-end;
  display: flex;
  background-color: #093824;
  color: white;
  font-size:20px;
  border-radius: 50px;
}
.total_cost table {
  width: 100%;
  max-width: 350px;
}
td:last-child {
  text-align: right;
}
.button_remove {
    background: #093824;
	color: white;
    border: 0;
    border-radius: 50px;
    width: 90px;
    font-size: 15px;
    text-align: center;
    padding: 10px;
    margin: 2% 5% 0 5%;
    font-weight: 700;
    opacity: 0.9;
    transition: transform 0.5s, opacity 0.5s;
}
.button_remove:hover{
    background:black;
	color: palevioletred;
}
/* Form  */
.user_details{
	color: white;
    font-size: large;
}
.user_details input[type="text"] {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  background-color: white;
  color: black;
  border-radius: 50px;
  transition: width 0.4s ease-in-out;
  border-style: solid;
    
}
.formin input[type="text"]:focus {
	width: 100%;
	background-color: white;
	color:black;
} 
.button{
    background: #093824;
	color: white;
    border: 0;
    border-radius: 10px;
    width: 120px;
    font-size: 16px;
    text-align: center;
    padding: 10px;
    margin: 2% 5% 0 5%;
    font-weight: 700;
    opacity: 0.9;
    transition: transform 0.5s, opacity 0.5s;
}
.button:hover{
    background:black;
	color: palevioletred;
}


